/* 按钮基本样式 */
.el-button {
  display: inline-block;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: var(--el-color-white);
  text-align: center;
  
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

/* primary- */
.el-button.el-button--primary {
  background-color: var(--el-color-primary);
}
/* success */
.el-button.el-button--success {
  background-color: var(--el-color-success);
}
/* danger */
.el-button.el-button--danger {
  background-color: var(--el-color-danger);
}
/* warning */
.el-button.el-button--warning {
  background-color: var(--el-color-warning);
}
/* info */
.el-button.el-button--info {
  background-color: var(--el-color-info);
}
/* medium */
/* samll */
/* mini */

/* round */

[class*=el-icon] + span {
  margin-left: 8px;
}