.el-container {
  display: flex;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  flex: 1;
  box-sizing: border-box;
}

.el-container-vertical {
  flex-direction: column;
}
.el-container-horizontal {
  flex-direction: row;
}
.el-header,
.el-footer,
.el-aside,
.el-main {
  background-color: var(--el-color-layout-header);
  color: var(--el-text-color-primary);
  box-sizing: border-box;
}
.el-aside {
  background-color: var(--el-color-layout-aside);
}
.el-main {
  background-color: var(--el-color-layout-main);
}
.el-header,
.el-footer
{
  line-height: 60px;
  text-align: center;
}
.el-aside {
  height: 100%;
}
.el-main {
  flex: 1;
  text-align: center;
}
.common-layout {
  height: 210px;
  box-sizing: border-box;
}