:root {
  /* 主题配色 */
  --el-color-primary: #3069ff;
  --el-color-success: #14cd70;
  --el-color-warning: #ffa81a;
  --el-color-danger: #FF4A5B;
  --el-color-info: #909399;
  --el-color-white: #ffffff; 
  --el-color-black: #000000;
  /* 布局样式 */
  --el-color-layout-header: #c6e2ff;
  --el-color-layout-main: #ecf5ff;
  --el-color-layout-aside: #d9ecff;
  /* hover后 */
  --el-color-primary-hover: #98b4ff;
  --el-color-success-hover: #8AE6B8;
  --el-color-warning-hover: #FFD48D;
  --el-color-danger-hover: #FFA5AD;
  --el-color-info-hover: #c9cdd9;
  /* 文字配色 */
  --el-text-color-primary: #4d5059;
  --el-text-color-placeholder: #c9cdd9;
  --el-text-color-secondary: #7c808c;
  --el-text-color-disabled: #abb1bf; 
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d4d7de;
  --el-border-color-darker: #cdd0d6;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: #ffffff;

  /* border */
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;

  /*font*/
  --el-font-size-extra-large: 20px;
  --el-font-size-large: 18px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 13px;
  --el-font-size-extra-small: 12px;
  --el-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --el-font-weight-primary: 500;

  /*disabled*/
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
  
  /*animation*/
  --el-transition-duration: .3s;
  --el-transition-duration-fast: .2s;

}