.el-alert {
  width: 100%;
  height: 34px;
  padding: 0px 16px;
  position: relative;
  /* margin: ; */
  margin-bottom: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  /* background-color: var(--el-color-white); */
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  border: 1px solid #ebeef5;
  transition: opacity var(--el-transition-duration-fast);
  .closeBtn {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
  }
}
.el-alert--success.el-alert--light {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a;
}
.el-alert--success.el-alert--dark {
  background-color: #67c23a;
  color: #fff;
}

.el-alert--warning.el-alert--light {
  background-color: #fdf6ec;
  border-color: #faecd8;
  color: #e6a23c;
}
.el-alert--warning.el-alert--dark {
  background-color: #e6a23c;
  color: #fff;
}
.el-alert--error.el-alert--light {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #f56c6c;
}
.el-alert--error.el-alert--dark {
  background-color: #f56c6c;
  color: #fff;
}

.el-alert--info.el-alert--light {
  background-color: #edf2fc;
  border-color: #d3e0f5;
  color: #409eff;
}
.el-alert--info.el-alert--dark {
  background-color: #409eff;
  color: #fff;
}

.el-alert__content {
  display: flex;
  align-items: center;
}

.el-alert__icon {
  margin-right: 12px;
}

.el-alert__message {
  flex-grow: 1;
}

.el-alert__title {
  font-size: 16px;
  font-weight: 700;
}

.el-alert__description {
  margin-top: 8px;
  font-size: 14px;
}

.el-alert.is-center {
  justify-content: center;
}



.el-alert-fade-enter-from,
.el-alert-fade-leave-to {
  opacity: 0;
}