.el-collapse-item {
  box-sizing: border-box;
}
.el-collapse-item-title {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid var(--el-border-color);
  box-sizing: border-box;
}

/* .el-collapse-item__wrap {
  will-change: height;
  background-color: var(--el-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid var(--el-collapse-border-color);
} */
.el-collapse-item-content {
  /* padding-bottom: 25px; */
  font-size: 13px;
  color: #303133;
  line-height: 26px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--el-border-color);
}